@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 209, 13.3%, 95.3%;
    --foreground: 206 24.0% 9.0%;

    --muted: 240 7.8% 90.9%;
    --muted-foreground: 206, 6.0%, 36.5%;

    --brand: 245 100% 90%;
    --brand-hover: 245 100% 87%;
    --brand-foreground: 195 7.1% 11.0%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 206 30.0% 98.8%;
    --card-foreground: 206 24.0% 9.0%;

    --border: 208, 11.3%, 88.9%;
    --input: 207 11.1% 85.9%;

    --primary: 195 7.1% 11.0%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 6 78% 57%;
    --destructive-foreground: 0 0% 98%;

    --ring: 207 11.1% 85.9%;

    --radius: 0.5rem;
  }

  .dark {
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --background: 195 7.1% 11.0%;
    --foreground: 210 6.0% 93.0%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 206 6.0% 63.0%;

    --brand: 270 100% 40%;
    --brand-hover: 270 100% 45%;
    --brand-foreground: 210 6.0% 93.0%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 200 7.0% 8.8%;
    --card-foreground: 210 6.0% 93.0%;

    --border: 201 6.2% 20.5%;
    --input: 203 6.0% 24.3%;

    --primary: 210 16.7% 97.6%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 6 78% 57%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 203 6.0% 24.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}